<header class="head">
  <div class="content page">
    <header class="bloghead">
      <h1 class="bloghead-title">
      <a href="http://localhost:4000/">柚子<span>&#39;s blog</span></a>
      </h1>
      <nav class="bloghead-nav">
          <a href="{{ site.baseurl }}/">Home<span> &nbsp;/&nbsp; </span></a>          
          <a href="/page/collections"> Collections<span> &nbsp;/&nbsp; </span></a> 
          <a href="/page/watchtv"> Watchtv<span> &nbsp;/&nbsp; </span></a> 
          <a href="/page/studysource">Studysource<span> &nbsp;/&nbsp; </span></a>          
          <a href="/page/colleage">College<span> &nbsp;/&nbsp; </span></a> 
          <a href="/about">About<span> &nbsp;/&nbsp; </span></a> 
      </nav>
      </header>
  </div>
</header>
